<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OwensBookShop.Engine.Properties.Settings.OwensBookshopConnectionString"
            connectionString="Data Source=WINDOWS-T2EIGLA\SQLEXPRESS;Initial Catalog=OwensBookshop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>