<nav>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Shop", "Index", "Shop")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>&nbsp;</li>
        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
    </ul>
</nav>
