@using OwensBookShop.Models.Services;
@using OwensBookShop.Website.helpers;

@model SearchPage<List<BookDetails>>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_DefaultLayout.cshtml";
    var searchResults = Model.SearchResults.Data;
}

<h2>Shop</h2>

@if (!Model.SearchResults.Success)
{
    <p>No books found</p>
}
else
{
    foreach(var book in searchResults)
    {
        <p>@book.Book.BookTitle - @Html.Raw(CustomHelper.DisplayAuthorLinks(book.Authors))</p>
    }
}